.sidebar {
    background-color: #94A7BB;
    overflow: hidden;
}

h4 {
    font-family: "Open Sans";
    font-weight: 800;
    color: #fff;
}

.header {
    
    background-color: #5A7DA0;
    width: "100%";
    float: left;
}

.menu-button-container {
    text-align: center;
}

.menu-button-icon {
    margin: 16px;
}

.vertical-center {
    transform: translateY(50%);
}
