.sidebar {
    background-color: #94A7BB;
    overflow: hidden;
}

h4 {
    font-family: "Open Sans";
    font-weight: 800;
    color: #fff;
}

.header {
    
    width: "100%";
    background-color: #5A7DA0;
    
}

.drawerControlButton {
    padding: 16px;
}

.header-button {

}
